* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.titulo {
    font-size: 35px;
    color: white;
}

body {
    background-color: #E21818;
    font-family: sans-serif;
    font: 3rem;
    color: white;
}

#futbol, #basquet, #tenis, #natacion, #gym, #patin {
    background-color: #00235B;
    display: flex;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border-radius: 3px;
    border: solid 1px #E21818;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#futbol:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
#basquet:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
#tenis:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
#natacion:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
#gym:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
#patin:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

/*.grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    justify-items: end;
}*/

.deportes1, .deportes2, .deportes3 {
    display: flex;
    flex-direction: row;
}

